@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Begel';
    src: url('./fonts/begel.ttf') format('truetype');
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(235, 226, 226);
    border-radius: 5px;
  }
}
  
body{
    background-color: #eaebf0e4;
}